<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css"/>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <div id="header">
    <a href="/"><div id="header-left"><img src="../static/logo.png" th:src="@{/logo.png}" id="logo"/><h1 style="color: black">Restourants in Skopje</h1></div></a>
    <a href="/login"><div id="login-btn-container"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
    </svg><span>Најави се</span></div></a>
  </div>
  <div id="page-container" style="justify-content: center">

    <div id="form-container">
      <form method="post" action="" style="display: flex;flex-direction: column">
      <h1>Регистрирај се</h1>
        <div th:if="${hasError}" class="error" style="color: red">
          <div th:text="${error}"></div>
        </div>
      <label for="ime">Корисничко име</label>
      <input type="text" id="ime" name="username" class="input-lg" required placeholder="username">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required placeholder="example@mail.com">
      <label for="lozinka">Лозинка</label>
      <input type="password" id="lozinka" name="password" required>

      <button type="submit" class="btn btn-danger">Регистрирај се</button>
      </form>
      <span style="display: flex"><p><b>Имате профил?</b></p><a href="/login" style="text-decoration: underline;margin-left: 10px">Најавете се</a></span>
    </div>
  </div>
</body>
</html>